@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@400;700&display=swap");

:root {
  --heading-color: #22272d;
  --paragraph-font-color: #686872;
  --button-color: #3d8168;
  --button-color-dark: #1a4031;
  --inner-bg: #ffffff;
  --bg-color: #f3eae3;
  --fraunces: "Fraunces", serif;
  --montserrat: "Montserrat", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: scroll;
  box-sizing: border-box;
  background-color: var(--bg-color);
  font-size: 0.875rem;
}
body::-webkit-scrollbar {
  display: none;
}

image {
  display: block;
}

ul,
ol,
li {
  padding: 0;
  margin: 0;
}

/* Main Container */
main {
  background-color: var(--inner-bg);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 90%;
  width: 37.5rem;
  margin: 0 auto;
  margin-top: 11rem;
  margin-bottom: 10%;
  border-radius: 15px;
}

.image-container {
  background-image: url("./images/image-product-desktop.jpg");
  background-position: center;
  background-size: cover;
  width: 100%;
  border-radius: 15px 0 0 15px;
  background-repeat: no-repeat;
}
.info {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 1.4rem;
}

h1 {
  font-family: var(--montserrat);
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 6px;
  font-size: 0.7rem;
  color: var(--paragraph-font-color);
}
h2 {
  font-family: var(--fraunces);
  font-size: 2.1rem;
  line-height: 2.2rem;
  font-weight: 700;
  padding-right: 1rem;
  color: var(--heading-color);
}

.info p {
  font-family: var(--montserrat);
  font-weight: lighter;
  font-size: 0.9rem;
  color: var(--paragraph-font-color);
  line-height: 1.4rem;
}

.pricing {
  display: flex;
  flex-direction: column;
  gap: 2.1rem;
}

.pricing p {
  color: var(--button-color);
  font-family: var(--fraunces);
  font-size: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.6rem;
  margin-top: 1rem;
  font-weight: 700;
}

.pricing p span {
  font-family: var(--montserrat);
  font-weight: 400;
  color: var(--paragraph-font-color);
  text-decoration: line-through;
  font-size: 0.8rem;
}

button {
  cursor: pointer;
  border: none;
  background-color: var(--button-color);
  color: var(--inner-bg);
  font-family: var(--montserrat);
  font-weight: 700;
  border-radius: 10px;
  padding: 0.9rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  transition: all ease-in-out 0.2s;
}

@media (hover: hover) {
  button:hover {
    transition: all ease-in-out 0.2s;
    background-color: var(--button-color-dark);
  }
}

@media screen and (max-width: 650px) {
  main {
    margin-top: 10%;
    grid-template-columns: 1fr;
    grid-template-rows: 15rem 1fr;
    height: 100%;
  }
  .image-container {
    background-image: url("./images/image-product-mobile.jpg");
    border-radius: 15px 15px 0 0;
  }
}
